<app-upper-body></app-upper-body>
<div class="row">
    <div class="col-md-2 my-3">
        <div class="card border-dark">
            <div class="card-body">
                <h6 class="card-title monserrat-bold">Filters</h6>
                <form name="vSeismsFilterForm" role="form">
                    <div class="form-row align-items-center">
                        <div class="col">
                            <label class="col-form-label-sm mb-n2" for="mag_min">Magnitude min</label>
                            <input type="number" class="form-control form-control-sm" [(ngModel)]="mag_min"
                                [ngModelOptions]="{standalone: true}" id="mag_min">
                        </div>
                        <div class="col">
                            <label class="col-form-label-sm mb-n2" for="mag_max">Magnitude max</label>
                            <input type="number" class="form-control form-control-sm" [(ngModel)]="mag_max"
                                [ngModelOptions]="{standalone: true}" for="mag_max">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col">
                            <label class="col-form-label-sm mb-n2" for="depth_min">Depth min</label>
                            <input type="number" class="form-control form-control-sm" [(ngModel)]="depth_min"
                                [ngModelOptions]="{standalone: true}" id="depth_min">
                        </div>
                        <div class="col">
                            <label class="col-form-label-sm mb-n2" for="depth_max">Depth max</label>
                            <input type="number" class="form-control form-control-sm" [(ngModel)]="depth_max"
                                [ngModelOptions]="{standalone: true}" for="depth_max">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-lg-12">
                            <label class="col-form-label-sm mb-n2" for="from_date">From date</label>
                            <div class="input-group date" data-target-input="nearest" NgTempusdominusBootstrap>
                                <input class="form-control form-control-sm" [(ngModel)]="from_date"
                                    [ngModelOptions]="{standalone: true}" id="from_date" NgTempusdominusBootstrapInput
                                    type="text" />
                                <div class="input-group-append" NgTempusdominusBootstrapToggle>
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label class="col-form-label-sm mb-n2" for="to_date">To date</label>
                            <div class="input-group date" data-target-input="nearest" NgTempusdominusBootstrap>
                                <input class="form-control form-control-sm" [(ngModel)]="to_date"
                                    [ngModelOptions]="{standalone: true}" id="to_date" NgTempusdominusBootstrapInput
                                    type="text" />
                                <div class="input-group-append" NgTempusdominusBootstrapToggle>
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center mb-4 py-1 ">
                        <label class="col-form-label-sm mb-n1" for="sensor_id">Associated sensor</label>
                        <select class="custom-select custom-select-sm" id="sensor_id" [(ngModel)]="sensor_id"
                            [ngModelOptions]="{standalone: true}">
                            <option value="0" selected>Select sensor name</option>
                            <option *ngFor="let sensor of sensors; trackBy:getSensorNumber" [value]="sensor.id_num">
                                {{ sensor.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group container align-items-center mb-n2">
                        <div class="row">
                            <button class="btn btn-sm btn-primary mr-3" (click)="applyFilters()">Filter</button>
                            <a class="btn btn-sm btn-secondary" (click)="clearFilters()">Clear filters</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="container">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-responsive-md table-dark table-hover text-center my-3 table-sm ">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col" sortable="datetime" (sort)="onSort($event)">Datetime</th>
                            <th scope="col" sortable="depth" (sort)="onSort($event)">Depth</th>
                            <th scope="col" sortable="magnitude" (sort)="onSort($event)">Magnitude</th>
                            <th scope="col" sortable="sensor_id" (sort)="onSort($event)">Sensor Associated</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let seism of seisms">
                            <td>{{ seism.id_num }}</td>
                            <td>{{ seism.datetime }}</td>
                            <td>{{ seism.depth }} Km</td>
                            <td>{{ seism.magnitude }}</td>
                            <td>{{ seism.sensor.name }}</td>
                            <td>
                                <a class="btn btn-sm btn-outline-secondary mr-2" [routerLink]="['view', seism.id_num]">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                        <path fill-rule="evenodd"
                                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center pt-4">
                <div class="mr-5" *ngIf="seisms && totalItems > 0">
                    <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="4"
                        [boundaryLinks]="true" (pageChange)="loadNextPage($event)">
                    </ngb-pagination>
                </div>
                <select class="custom-select custom-select-sm ml-5" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="loadNextPage($event)">
                    <option [ngValue]="5" [selected]="pageSize == 5">5 items per page</option>
                    <option [ngValue]="10" [selected]="pageSize == 10">10 items per page</option>
                    <option [ngValue]="20" [selected]="pageSize == 20">20 items per page</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 my-3"></div>
    </div>