<header>
    <div class="overlay"></div>
    <video autoplay="autoplay" muted="muted" loop="loop">
        <source src="assets/videos/institutional.mp4" type="video/mp4">
    </video>
    <div class="container mt-5 pt-5">
        <div class="d-flex text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="mt-5 pt-5 monserrat-bold">Seismology Institute</h1>
                <h5 class="pt-3">Operating since 1976 in Mendoza, Argentina</h5>
            </div>
        </div>
    </div>
</header>