/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: white !important;
}

.monserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.table-dark {
  color: #fff;
  background-color: #222222 !important;
}

.table-dark tr:hover {
  color: #ffe17d;
  background-color: #462e14 !important;
}

.card-body {
  color: #fff;
  background-color: #222222 !important;
  border: solid rgba(0, 0, 0, 0) !important;
}

.view-card {
  height: 450px !important;
}

.card-header {
  color: #fff;
  background-color: rgb(55, 55, 55) !important;
  border: solid rgba(0, 0, 0, 0) !important;
}

.my-custom-scrollbar {
  position: relative;
  height: 475px;
  overflow: auto;.page-link {
    color: #fff;
    background-color: #222222 !important;
    border: solid rgba(255, 255, 255, 0.172) 1px !important;
  }
  
  .page-link:hover {
    color: #ffe17d;
    background-color: #462e14 !important;
  }
}

.table-wrapper-scroll-y {
  display: block;
}

.overflow-auto{
  height: 350px !important;
}

form input {
  background-color: rgba(0, 0, 0, 0.35) !important;
  color: white !important;
  border: solid rgba(255, 255, 255, 0.172) 1px !important;
}

select {
  background-color: rgba(0, 0, 0, 0.35) !important;
  color: white !important;
  border: solid rgba(255, 255, 255, 0.172) 1px !important;
}

form input:read-only {
  background-color: rgba(46, 42, 42, 0.35) !important;
  color: rgba(255, 255, 255, 0.774) !important;
  border: solid rgba(255, 255, 255, 0.172) 1px !important;
}

.breadcrumb-item .active {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: small;
}

.breadcrumb {
  height: 40px;
}

.small-text {
  font-size: smaller;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.page-item.active .page-link {
  background-color: #fff !important;
  color: black !important;
}

.page-link {
  color: #fff;
  background-color: #222222 !important;
  border: solid rgba(255, 255, 255, 0.172) 1px !important;
}

.page-link:hover {
  color: #ffe17d;
  background-color: #462e14 !important;
}

