/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: white !important;
}

.monserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.table-dark {
  color: #fff;
  background-color: #222222 !important;
}

.table-dark tr:hover {
  color: #ffe17d;
  background-color: #462e14 !important;
}

.card-body {
  color: #fff;
  background-color: #222222 !important;
  border: solid rgba(0, 0, 0, 0) !important;
}

.view-card {
  height: 450px !important;
}

.card-header {
  color: #fff;
  background-color: rgb(55, 55, 55) !important;
  border: solid rgba(0, 0, 0, 0) !important;
}

.my-custom-scrollbar {
  position: relative;
  height: 475px;
  overflow: auto;.page-link {
    color: #fff;
    background-color: #222222 !important;
    border: solid rgba(255, 255, 255, 0.172) 1px !important;
  }
  
  .page-link:hover {
    color: #ffe17d;
    background-color: #462e14 !important;
  }
}

.table-wrapper-scroll-y {
  display: block;
}

.overflow-auto{
  height: 350px !important;
}

form input {
  background-color: rgba(0, 0, 0, 0.35) !important;
  color: white !important;
  border: solid rgba(255, 255, 255, 0.172) 1px !important;
}

select {
  background-color: rgba(0, 0, 0, 0.35) !important;
  color: white !important;
  border: solid rgba(255, 255, 255, 0.172) 1px !important;
}

form input:read-only {
  background-color: rgba(46, 42, 42, 0.35) !important;
  color: rgba(255, 255, 255, 0.774) !important;
  border: solid rgba(255, 255, 255, 0.172) 1px !important;
}

.breadcrumb-item .active {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: small;
}

.breadcrumb {
  height: 40px;
}

.small-text {
  font-size: smaller;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.page-item.active .page-link {
  background-color: #fff !important;
  color: black !important;
}

.page-link {
  color: #fff;
  background-color: #222222 !important;
  border: solid rgba(255, 255, 255, 0.172) 1px !important;
}

.page-link:hover {
  color: #ffe17d;
  background-color: #462e14 !important;
}

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].desc:before,
th[sortable].asc:before {
  content: "";
  display: block;
  background: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-sort-down" fill="white" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M3 2a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-1 0v-10A.5.5 0 0 1 3 2z"/><path fill-rule="evenodd" d="M5.354 10.146a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L3 11.793l1.646-1.647a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 9a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/></svg>')
    no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: right;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg) !important;
}
